.dedication {
  width: 100%;
  .container {
    padding: 50px 0;
    h1 {
      text-align: center;
      margin: 0 0 40px 0;
      font-size: 4rem;
      color: #3e9ebf;
    }
    .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 400px);
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 768px) {
  .dedication {
    .container {
      .wrapper {
        grid-template-columns: repeat(1, 90%);
        justify-content: center;
        a {
          margin: 20px 0;
          max-width: none;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1250px) {
  .dedication {
    .container {
      .wrapper {
        grid-template-columns: repeat(2, 46%);
        justify-content: space-evenly;
        a {
          margin: 20px 0;
          max-width: none;
        }
      }
    }
  }
}
