.dedication {
  width: 100%;
  .container {
    padding: 50px 0;
    background: #fff;
    h1 {
      text-align: center;
      margin: 0 0 40px 0;
      font-size: 4rem;
      color: #3e9ebf;
    }
    .wrapper {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
