.btn {
  background: #3e9ebf;
  border: 1px solid #3e9ebf;
  padding: 16px 24px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 0 10px;
  &:focus {
    outline: transparent;
  }
}

.btn2 {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #3e9ebf;
  padding: 16px 24px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 0 10px;
  &:focus {
    outline: transparent;
  }
}
