.highlights {
  width: 100%;
  .container {
    .boxWrapper {
      display: flex;
      .box{
        width: 100%;
        max-width: 725px;
        height: 520px;
        position: relative;
      }
      .textBox {
        width: 100%;
        max-width: 725px;
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .textWrap {
          width: 100%;
          max-width: 500px;
          h1 {
            font-size: 4rem;
            margin: 0;
            text-transform: uppercase;
            color: rgb(96, 96, 96);
          }
          p {
            padding: 0 0 10px 0;
            line-height: 2;
          }
          button {
            border: transparent;
            background: #3e9ebf;
            color: #fff;
            padding: 16px 24px;
            font-weight: 600;
            cursor: pointer;
            font-size: 1rem;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);;
            &:focus{
              outline: transparent;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .highlights {
    .container {
      .boxWrapper {
        flex-direction: column-reverse;
        align-content: space-around;
        max-width: 90%;
        margin: 3rem auto;
        &:nth-child(1) {
          flex-direction: column;
        }
        .box{
          height: 300px;
        }
        .textBox {
          .textWrap {
            h1 {
              text-align: center;
              padding: 14px 0 0 0;
            }
            .btn {
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1112px){
  .highlights {
    .container {
      .boxWrapper {
        .box {
          width: 50%;
          height: 420px;
        }
        .textBox {
          width: 50%;
          .textWrap {
            max-width: 350px;
          }
        }
      }
    }
  }
}