.callToAction {
  width: 100%;
  .container {
    background: #3e9ebf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
    h1 {
      margin: 0;
      font-size: 2rem;
      color: #fff;
    }
    p {
      font-size: 1.2rem;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
    }
    .contactUs {
      button {
        padding: 16px 24px;
        font-weight: 600;
        background: #000;
        color: #fff;
        border: transparent;
        cursor: pointer;
        font-size: 1rem;
        &:focus {
          outline: transparent;
        }
      }
    }
  }
}